
body{
    background-color:black;
	font-family: 'VT323', monospace;
	overflow: hidden;
}

#main{
	position: relative;
}
#contAfinidad{
	width: 25%;
	height: 35%;
	object-fit: contain;
	background-image: url("../img/marco.png");
	background-size: 100% 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	z-index: 100;
	top: 24%;
	left: 34.5%;
	
}



#contAfinidadFinal{
	width: 25%;
	height: 35%;
	object-fit: contain;
	background-image: url("../img/marco.png");
	background-size: 100% 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	z-index: 100;
	top: 22%;
	left: 34.5%;
	padding-bottom:2%;
}

#contEstrellas{
	width: 60%;
	height: 40%;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding-top: 6%;

	
}




.imgEstrella{
	width: 100%;
	height: 100%;
	
}

.imgEstrellaF{
	width: 100%;
	height: 100%;
	
}
#contTXTAfiidad{


}
#contTXTAfiidadFinal{
	
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 5%;
	
}

#txtNumeroEstrellas{
	font-size: 1vw;
	margin-bottom: 10%;
	padding: 5%;
	text-align: center;
}

#txtAfiidad{
	font-size: 0.8vw;
	margin-bottom: 2%;
}

#txtcompartir{
	font-size: 1vw;
	margin-top: -1%;
}

#contImgTV{
	display: flex;
	justify-content: center;
	margin-top: 1.3%;
	position: absolute;
	z-index: 0;
}

#ImgTV{
	width: 50%;
	height: 50%;
	

}


#contTV{
	z-index: -100;

}


#contvideo{

	width: 37.5%;
	height: 45%;
	margin-top: 4.5%;
	margin-left: 30%;
	padding-bottom: 10%;
}

#video{
	
	
}

.ContBotonesPadre{
	height: 40%;
	width: 100%;
	position: absolute;
	top: 49%;
	left: 30%;
}
.ContBotonesHijo{
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	width: 35%;
	height: 30%;
padding-bottom: 10%;

}

.butonResp{
	border: none;
	background: none;
	width: 100%;
	height: 100%;
	opacity: 0.7;
	font-size: 1.5vw;
	white-space: normal;
	line-height: 100%;
	font-weight: bold;
	z-index: 2;
	background-image: url("../img/boton1.png");
	background-size: 100% 100%;
	margin-bottom: 100%;
	
}

.butonResp:hover{
	opacity: 1;
	color: black;
}

.contBtIndi{
width: 80%;
height: 100%;
padding: 5%;

}

.imgButton{
	width: 100%;
	height: 100%;
}

#contRedes{
	
    width: 20%;
    height: 20%;
    margin: 1%;
   display: flex;
   align-content: space-around;
   padding: 0.5%;
   
}
.contRed{
	margin-left: 5%;
	margin-right: 5%;
  }

.imgTwitter{
width: 100%;
height: 100%;
object-fit: contain;
}

#BotonEmpezar{
	width: 10%;
	height: 25%;
	background-color: white;
	border-color: black;
	position:absolute;
	z-index: 100;
	top: 30%;
	left: 43%;
	border: none;
	background: none;
}

#contBotonEmpezar{
	display: flex;
	justify-content: center;
	
}

#imgBtEmpezar{
	width: 100%;
	height: 100%;
}

#contBtVolver{
	width: 8%;
	height: 18%;
	position: absolute;
	top: 9%;
	left: 90%;
}

#imgBtVolver{
	width: 100%;
	height: 100%;
}

#buttonVoler{

	border: none;
	background: none;

}

